## Topic: String based assignment problems:

### Q1. Write a program to reverse a string

In [6]:
a='Vedanth'
a[-1:-8:-1]

'htnadeV'

### Q2. Check if a string is a palindrome.

In [39]:
a='STSvSTS'
b=a[-1:-8:-1]

if a==b:
    print('String a is a palindrome')
else:
    print('String a is not a palindrome')

String a is a palindrome

### Q3. Convert a string to uppercase.

In [36]:
v='vedanth'
v.upper()

'VEDANTH'

### Q4. Convert a string to lowercase.

In [37]:
r='RANGANATH'
r.lower()

'ranganath'

### Q5. Count the number of vowels in a string.

In [72]:
x='India is a great country' 
vowel1= x.count('a')
vowel2= x.count('e')
vowel3= x.count('i')
vowel4= x.count('o')
vowel5= x.count('u')

print('a =', vowel1)
print('e =', vowel2)
print('i =', vowel3)
print('o =', vowel4)
print('u =', vowel5)

a = 3
e = 1
i = 2
o = 1
u = 1

### Q6. Count the number of consonants in a string.

In [15]:
a='The quick brown fox jumps over the lazy dog, and lazy dog die'
    
consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
count = 0
    
for x in a:
    if x in consonants:
        count += 1
print('Total number of Consonants in string a is:', count)

Total number of Consonants in string a is: 32

### Q7. Remove all whitespaces from a string.

In [26]:
string='   Ve   da   n  th   '
x=''.join(string.split())
print(x)

Vedanth

### Q8. Find the length of a string without using the `len()` function.

In [27]:
j='Python'

count=0
for x in j:
    count+=1
print('Number of characters in string j is:', count)

Number of characters in string j is: 6

### Q9. Check if a string contains a specific word.

In [41]:
r='Indians will lead the world forever'

if 'never' in r:
    print('string r have the word never')
elif 'Indians' in r:
    print('string r have the word: Indians')
else: 
    print('Checked for the word')

string r have the word: Indians

### Q10. Replace a word in a string with another word

In [60]:
s='Indians are bad at coding'
s.replace('bad','good')

'Indians are good at coding'

### Q11. Count the occurrences of a word in a string.

In [76]:
q='If you fire the fire, fire will fire you, if you do not fire the fire, still the fire will fire you, beause it is the fire'

count= q.count('fire')
print('string q have the word fire repeated :', count, 'times')

string q have the word fire repeated : 9 times

### Q12. Find the first occurrence of a word in a string.

In [100]:
s='A ool of talents dedicatedly working for pwskills students who trust in pwskills to learn software development'
h=s.find('pwskills')
print('The first occurance of word pwskills is at index:', h)

The first occurance of word pwskills is at index: 41

### Q13. Find the last occurrence of a word in a string.

In [101]:
s='is a pool of talents dedicatedly working for pwskills students who trust in pwskills to learn software development'
h=s.rfind('pwskills')
print('The last occurance of word pwskills is at index:', h)

The last occurance of word pwskills is at index: 76

### Q14. Split a string into a list of words.

In [103]:
z='Coding is intersting'
z.split()

['Coding', 'is', 'intersting']

### Q 15. Join a list of words into a string.

In [108]:
l=['Vedanth', 'is', 'trying', 'to', 'learn', 'python']
m=' '.join(l)
print('string with words joined together is:', m)

string with words joined together is: Vedanth is trying to learn python

### Q16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [1]:
s='Python Basics Learning'
s.replace(' ', '_')

'Python_Basics_Learning'

### Q17. Check if a string starts with a specific word or phrase.

In [21]:
string='Longer the assignment, better will be learning'

if string.startswith('Longer'):
    print('String starts with word - Longer')
else:
    print('String does not start with word - Longer')

String starts with word - Longer

### Q18. Check if a string ends with a specific word or phrase.

In [22]:
a='Longer the assignment, better will be learning'

if a.endswith('learning'):
    print('String ends with word - learning')
else:
    print('String does not end with word - learning')

String ends with word - learning

### Q19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [23]:
string='hello world'
string.title()

'Hello World'

### Q20. Find the longest word in a string.

In [27]:
q='Bangalore has a multilingual crowd of talents'

r=q.split()

longest_word=r[0]

for s in r:
    if len(s)>len(longest_word):
        Longest_word=s
        print('Longest word is:', Longest_word)

Longest word is: multilingual

### Q21. Find the shortest word in a string

In [30]:
q='Coding is not easy unless one keep practicing'

r=q.split()

shortest_word=r[0]

for s in r:
    if len(s)<len(shortest_word):
        shortest_word=s
        print('shortest word is:', shortest_word)

shortest word is: is

### Q22. Reverse the order of words in a string.

In [40]:
line='Python is a coding language'
h=line.split()
j=h[-1:-6:-1]
reverse_line=' '.join(j)
print(reverse_line)

language coding a is Python

### Q23. Check if a string is alphanumeric.

In [44]:
statement='400million'
statement.isalnum()

True

### Q24. Extract all digits from a string.

In [52]:
d='Price is $ 12.9909090909'
t= [char for char in d if char.isdigit()]
print(t)

['1', '2', '9', '9', '0', '9', '0', '9', '0', '9', '0', '9']

### Q25. Extract all alphabets from a string.

In [64]:
tag='Electromechanical1990'
u=[char for char in tag if char.isalpha()]
print(u)

['E', 'l', 'e', 'c', 't', 'r', 'o', 'm', 'e', 'c', 'h', 'a', 'n', 'i', 'c', 'a', 'l']

### Q26. Count the number of uppercase letters in a stirng

In [88]:
string='ThunDerStorM'

count=0
for char in string:
    if char.isupper():
        count+=1
print('Number of uppercase letters in string:', count)

Number of uppercase letters in string: 4

### Q27. Count the number of lowercase letters in a stirng

In [90]:
string='ThunDerStorM'

count=0
for char in string:
    if char.islower():
        count+=1
print('Number of lowercase letters in string:', count)

Number of lowercase letters in string: 8

### Q28. Swap the case of each character in a string.

In [91]:
stat='UppErCaSe'
stat.swapcase()

'uPPeRcAsE'

### Q29. Remove a specific word from a string.

In [103]:
data='I want to remove a word from this string'
data.replace('word','') #removing 'word' from string

'I want to remove a  from this string'

### Q30. Check if a string is a valid email address.

In [153]:
def valid_email(email):
    
    if '@' not in email:
        return False
    
    main, domain= email.split('@')
    
    if not main or not domain:
        return False
    elif '.' not in domain:
        return False
    else:
        return True


string='Vedanth444@yahoo.in'

if valid_email(string): 

    print(f'{string} is a valid email address.')
else:
    print(f'{string} is not a valid email address.')

Vedanth444@yahoo.in is a valid email address.

### Q31. Extract the username from an email address string.

In [157]:
email='Vedanth444@yahoo.in'
username, domain= email.split('@')
print('Username of the email is:', username)

Username of the email is: Vedanth444

### Q32. Extract the domain name from an email address string.

In [158]:
string='Vedanth444@yahoo.in'
username, domain= string.split('@')
print('Domain of the email is:', domain)

Domain of the email is: yahoo.in

### Q33. Replace multiple spaces in a string with a single space.

In [183]:
g='                   Long   way           to   go              '
h=' '.join(g.split())
print('*string after removing all the spaces*:', h)

*string after removing all the spaces*: Long way to go

### Q34. Check if a string is a valid URL.

In [195]:
def valid_URL(link):
   
    if scheme not in link:
        return False
    elif sub_domain not in link:
        return False
    elif second_domain not in link:
        return False
    elif main_domain not in link:
        return False
    elif sub_directory not in link:
        return False
    else:
        return True
    

URL='https://blog.linkedIn.com/programming'

scheme='https://'
sub_domain='blog'
second_domain='linkedIn'
main_domain='.com'
sub_directory='/programming'

if valid_URL(URL):
    print('The provided string is a valid URL')
else:
    print('The provided string is not a valid URL')

The provided string is a valid URL

### Q35. Extract the protocol (http or https) from a URL string

In [202]:
URL:'https://blog.linkedIn.com/programming'
s=URL[0:5]
print(s)

https

### Q36. Find the frequency of each character in a string.

In [206]:
string='Various programming languages'

string_frequency={}

for char in string:
    string_frequency[char]=string_frequency.get(char, 0) + 1

for char, frequency in string_frequency.items():
    print(f"'{char}' : {frequency}")

'V' : 1
'a' : 4
'r' : 3
'i' : 2
'o' : 2
'u' : 2
's' : 2
' ' : 2
'p' : 1
'g' : 4
'm' : 2
'n' : 2
'l' : 1
'e' : 1

### Q37. Remove all punctuation from a string.

In [227]:
k='Python, is a Coding language!'
l=''.join([char if char.isalpha() or char.isspace() else '' for char in k])
print(l)

Python is a Coding language

### Q38. Check if a string contains only digits.

In [231]:
s='1290233223323EDJLJLHGDI'
if s.isnumeric():
    print('string s contains only digits')
else:
    print('string s do not contain only digits')

string s do not contain only digits

### Q39. Check if a string contains only alphabets

In [232]:
j='SAMRAT'
if j.isalpha():
    print('string j contains only alphabets')
else:
    print('string j do not contain only alphabets')

string j contains only alphabets

### Q40. Convert a string to a list of characters.

In [233]:
string='PWskills'
list(string)

['P', 'W', 's', 'k', 'i', 'l', 'l', 's']

### Q41. Check if two strings are anagrams

In [6]:
def anagrams(a,b):
    
    if len(a)==len(b):
        return True
    else:
        return False
    
    count_a={}
    count_b={}
    
    for x in a:
        count_a[x]=count_a.get(x,0) + 1
    for x in b:
        count_b[x]=count_b.get(x,0) + 1
        
    return count_a==count_b

a='thing'
b='night'

if anagrams(a,b):
    print('strings a & b are anagrams')
else:
    print('strings a & b are not anagrams')

strings a & b are anagrams

### Q42. Encode a string using a Caesar cipher.

In [249]:
def caesar_cipher(string, shift_value):
    result = []
    
    for x in string:
        if x.isalpha():
            is_upper = x.isupper()  
            original_value = ord(x) - ord('A' if is_upper else 'a')
            shifted_value = (original_value + shift_value) % 26
            encrypted_value = chr(shifted_value + ord('A' if is_upper else 'a'))
            result.append(encrypted_value)
        else:
            result.append(x)
        
    return ''.join(result)

string = "code is not working"
shift_value = 2

encrypted_text = caesar_cipher(string, shift_value)
print("Original text:", string)
print("Encrypted text:", encrypted_text)

Original text: code is not working
Encrypted text: eqfg ku pqv yqtmkpi

### Q43. Decode a Caesar cipher encoded string.

In [255]:
def caesar_cipher(string, shift_value):
    result = []
    
    for x in string:
        if x.isalpha():
            is_upper = x.isupper()  
            original_value = ord(x) - ord('A' if is_upper else 'a')
            shifted_value = (original_value + shift_value) % 26
            encrypted_value = chr(shifted_value + ord('A' if is_upper else 'a'))
            result.append(encrypted_value)
        else:
            result.append(x)
        
    return ''.join(result)

string = "eqfg ku pqv yqtmkpi"
shift_value = -2

encrypted_text = caesar_cipher(string, shift_value)
print("Original text:", string)
print("Encrypted text:", encrypted_text)

Original text: eqfg ku pqv yqtmkpi
Encrypted text: code is not working

### Q44. Find the most frequent word in a string.

In [258]:
string

'eqfg ku pqv yqtmkpi'

### Q45. Find all unique words in a string.

In [268]:
def unique_words(string):
    x = string.split()
    
    unique_words = set()
    
    for y in x:
        z = y.strip(".,!?").lower()
        unique_words.add(z)
    
    return unique_words


string='Develop a product in Development environment! and make sure there must be a provision to re-develop the same'

unique_words = unique_words(string)

print("Unique words in the string are:", unique_words)

Unique words in the string are: {'and', 'in', 'make', 'the', 'product', 'must', 'sure', 'there', 'develop', 'be', 'same', 'provision', 'development', 'environment', 'to', 're-develop', 'a'}

### Q46. Count the number of syllables in a string.

In [291]:
def syllables_count(string):

    s=string.lower()
    
    count=0
    vowel_groups={'ae','ai','au','ea','ea','ee','ei','eu','ie','io','oa','oo','ou','ua','ue','ui','uo'}
    k=0
    while k<len(s):
        if s[k:k+2] in vowel_groups:
            count+=1
            k+=2
            
        elif s[k] in 'aeiou':
            count+=1
            k+=1
        
        else:
            k+=1
            
    if s.endswith('e'):
        count-=1
    if s.endswith('ae'):
        count+=1
        
    count=max(count,1)
        
    return count
    
string='Algae'
syllable= syllables_count(string)
print(f"There are {syllable} syllables in the given string")

There are 2 syllables in the given string

### Q47. Check if a string contins any special characeters

In [16]:
def Check_for_special_characters(string):

    special_characters=("#@!$%^&*()_-+={}[]\|;:''<,>.?/`~")
    
    for char in string:
        if char in special_characters:
            return True
    else:
        return False
        
string='Limited version$%!'

if Check_for_special_characters(string):
    print('String contains special characters')
else:
    print('String does not contains special characters')

String contains special characters

### Q48. Remove the nth word from string

In [45]:
def remove(x, n):
    y=x.split()
    
    if 0<=n<len(y):
        del y[n]
        z=' '.join(y)
        
        return (z)
    else:
        return (x)
    
string='Trying to remove nth word from this line'

n=5

updated_string = remove(string, n)
print('The updated string after removing nth word from the string is:', updated_string)

The updated string after removing nth word from the string is: Trying to remove nth word this line

### Q 49. Insert a word at the nth position in a string.

In [47]:
def insert(string, n, new_word):
    
    line=string.split()
    Left_half=' '.join(line[:n])
    Right_half=' '.join(line[n:])
    
    if 0<=n<=len(line): #used '=' to make sure the word can be added at the last index as well
        new_line=Left_half+' '+new_word+' '+Right_half
        
        return new_line
    else:
        return string
    
string='The Pizza is not healthy'
n=5
new_word='food'

result=insert(string, n, new_word)
print ('New line is:', result)

New line is: The Pizza is not healthy food

### Q50. Convert a CSV string to a list of lists.

In [69]:
string='''I was trying to solve the assignments,
which was similar to what has been thought in class,
but to my surprise few assignments were irrelevent to the class completed.'''

string_in_list=[]

splitting=string.split('\n')

for x in splitting:
    if x:
        
        string_in_list.append(x.split('\,'))
        
for x in string_in_list:
    print(x)

['I was trying to solve the assignments,']
['which was similar to what has been thought in class,']
['but to my surprise few assignments were irrelevent to the class completed.']

## Topic: List based practice problems:

### 1. Create a list with integers from 1 to 10.

In [88]:
list=[x for x in range(1,11)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [90]:
list=[1,2,3,4,5,6,7,8,]

count=0
for i in list:
    count+=1
print('Number of characters in list are:', count)

Number of characters in list are: 8

### 3. Append an element to the end of a list.

In [95]:
list=['Bangalore', 'Mysore', 'Mangalore',]
list.append('Dharawada')
print(list)

['Bangalore', 'Mysore', 'Mangalore', 'Dharawada']

### 4. Insert an element at a specific index in a list.

In [102]:
list=['Bangalore', 'Mysore', 'Mangalore',]
list.insert(1,'Dharawada')
print(list)

['Bangalore', 'Dharawada', 'Mysore', 'Mangalore']

### 5.  Remove an element from a list by its value.

In [104]:
list=['Bangalore', 'Mysore', 'Mangalore', 'Dharawada']
list.remove('Dharawada')
print(list)

['Bangalore', 'Mysore', 'Mangalore']

### 6. Remove an element from a list by its index.

In [105]:
list=['Bangalore', 'Mysore', 'Mangalore', 'Dharawada']
del(list[2])
print(list)

['Bangalore', 'Mysore', 'Dharawada']

### 7. Check if an element exists in a list.

In [130]:
a=['Bangalore', 'Mysore', 'Mangalore', 'Dharawada']

for i in a:
    if i=='Dharawada':
        print(f'The list a contains {i} in it')

The list a contains Dharawada in it

### 8. Find the index of the first occurrence of an element in a list.

In [12]:
h=['Bangalore', 'Mangalore', 'Mysore', 'Dharawada', 'Mysore',]
k='Mysore'

try:
    l=h.index(k)
    print(f'First occurance of element Mysore happens at {l}')
except valueerror:
    print(f'{k}is not in the list')

First occurance of element Mysore happens at 2

### 9. Count the occurrences of an element in a list.

In [23]:
h=['Bangalore', 'Mangalore', 'Mysore', 'Dharawada', 'Mysore',]

element='Mysore'
count=0
for i in h:
    if i==element:
        count+=1
print(f'The element {element} appears {count} times in list h')

The element Mysore appears 2 times in list h

### 10. Reverse the order of elements in a list.

In [9]:
h=['Bangalore', 'Mangalore', 'Mysore', 'Dharawada', 'Mysore',]
i=h[-1:-6:-1]
print(i)

['Mysore', 'Dharawada', 'Mysore', 'Mangalore', 'Bangalore']

### 11. Sort a list in ascending order.

In [11]:
list=[2,5,23,5,232425,242,453,2,13,4242,5]
list.sort()
print(list)

[2, 2, 5, 5, 5, 13, 23, 242, 453, 4242, 232425]

### 12. Sort a list in descending order.

In [16]:
list=[2,5,23,5,232425,242,453,2,13,4242,5]
list.sort(reverse=True)
print(list)

[232425, 4242, 453, 242, 23, 13, 5, 5, 5, 2, 2]

### 13. Create a list of even numbers from 1 to 20.

In [34]:
limit1=1
limit2=20
for i in range (limit1,limit2):
    if i%2==0:
        print(i, end=' ')

2 4 6 8 10 12 14 16 18

### 14. Create a list of odd numbers from 1 to 20.

In [35]:
limit1=1
limit2=20
for i in range (limit1,limit2):
    if i%2!=0:
        print(i, end=' ')

1 3 5 7 9 11 13 15 17 19

### 15. Find the sum of all elements in a list.

In [39]:
list=[2,5,23,5,232425,242,453,2,13,4242,5]
sum=sum(list)
print(sum)

237417

### 16. Find the maximum value in a list.

In [6]:
list=[2,5,23,5,232425,242,453,2,13,4242,5]
maximum_value=max(list)
print(maximum_value)

232425

### 17. Find the minimum value in a list.

In [7]:
list=[2,5,23,5,232425,242,453,2,13,4242,5]
minimum_value=min(list)
print(minimum_value)

2

### 18. Create a list of squares of numbers from 1 to 10.

In [23]:
for i in range(1, 11):
    square_values= i*i
    print(f'The square of {i} is {square_values}')

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100

### 19. Create a list of random numbers.

In [1]:
random=[2,3,6,5,7,46,4,6,34,6]
print(random)

[2, 3, 6, 5, 7, 46, 4, 6, 34, 6]

### 20. Remove duplicates from a list.

In [6]:
random=[2,3,6,5,7,46,4,6,34,6]
h=set(random)
clean_random=list(h)
print('list after removal of duplicates:', clean_random)

list after removal of duplicates: [2, 3, 4, 5, 6, 7, 34, 46]

### 21. Find the common elements between two lists.

In [11]:
k=[2,3,6,5,7,46,4,6,34,6]
l=[3,2,4,5,54,64,34,1]

set_k=set(k)
set_l=set(l)
set_m = set_k & set_l

m = list(set_m)
print('common elements are:', m)

common elements are: [34, 2, 3, 4, 5]

### 22. Find the difference between two lists.

In [1]:
k=[2,3,6,5,7,46,4,6,34,6]
l=[3,2,4,5,54,64,34,1]

m = [i for i in k if i not in l]
n = [i for i in l if i not in k]
print('differnece between two sets are:', m, n)

differnece between two sets are: [6, 7, 46, 6, 6] [54, 64, 1]

### 23. Merge two lists.

In [2]:
k=[2,3,6,5,7,46,4,6,34,6]
l=[3,2,4,5,54,64,34,1]

m = k+l
print('merged list is:', m)

merged list is: [2, 3, 6, 5, 7, 46, 4, 6, 34, 6, 3, 2, 4, 5, 54, 64, 34, 1]

### 24. Multiply all elements in a list by 2.

In [7]:
k=[2,3,6,5,7,46,4,6,34,6]
l=[3,2,4,5,54,64,34,1]

m = [i*2 for i in k]
n = [i*2 for i in l]
print('multiplied values of list k are:', m)
print('multiplied values of list l are:', n)

multiplied values of list k are: [4, 6, 12, 10, 14, 92, 8, 12, 68, 12]
multiplied values of list l are: [6, 4, 8, 10, 108, 128, 68, 2]

### 25. Filter out all even numbers from a list.

In [34]:
k=[2,3,6,5,7,46,4,6,34,6,3,1,5,7,9,31,21,63,55,79]

for i in k:
    if i%2==0:
            print(i, end=' ')

2 6 46 4 6 34 6

### 26. Convert a list of strings to a list of integers.

In [42]:
l=['3232323','223242','112','32','2434','121','42']
m=[int(i) for i in l]
print('list of integers converted from string are:', m)

list of integers converted from string are: [3232323, 223242, 112, 32, 2434, 121, 42]

### 27. Convert a list of integers to a list of strings.

In [43]:
l=[3232323,223242,112,32,2434,121,42]
m=[str(i) for i in l]
print('list of integers converted from string are:', m)

list of integers converted from string are: ['3232323', '223242', '112', '32', '2434', '121', '42']

### 28. Flatten a nested list.

In [67]:
def Flatten_list(x):
    
    flat_list=[]
    
    for i in x:
        if isinstance(i, list):
            flat_list.extend(Flatten_list(i))
        else:
            flat_list.append(i)
    return(flat_list)

x=['Ramesh', 'suresh', 'jitesh',  ['mukesh', 'panbeeda', 'cancer'], 'ganguly',]

y=Flatten_list(x)
print('Flatten list is:', y)

Flatten list is: ['Ramesh', 'suresh', 'jitesh', 'mukesh', 'panbeeda', 'cancer', 'ganguly']

### 29. Create a list of the first 10 Fibonacci numbers.

In [76]:
count=10
Fibonacci_numbers=[0,1]
   
while len(Fibonacci_numbers) < count:
    
    next_number = Fibonacci_numbers[-1] + Fibonacci_numbers[-2]
    Fibonacci_numbers.append(next_number)
    
print ('The first 10 fibonacci numbers are:', Fibonacci_numbers)

The first 10 fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [87]:
s=input('enter the list:')

if s==sorted(s):
    print('The list is not sorted')
else:
    print('The list is not sorted')

enter the list: [2,3,6,5,7,46,4,6,34,6]

The list is not sorted

### 31. Rotate a list to the left by `n` positions.

In [120]:
def rotated_list(l,n):
    count=n
 
    k=l[n:]+l[:n]      
    return(k)
    
            
l=[2,3,6,5,7,46,4,6,34,6]
n=4

new_list=rotated_list(l,n)
print(f'Rotated list left by {n} elements is:', new_list)

Rotated list left by 4 elements is: [7, 46, 4, 6, 34, 6, 2, 3, 6, 5]

### 32. Rotate a list to the right by `n` positions.

In [141]:
def rotated_list(l,n):
    count=n
 
    k=l[-n:]+l[:-n]      
    return(k)
    
            
l=[2,3,6,5,7,46,4,6,34,6]
n=4

new_list=rotated_list(l,n)
print(f'Rotated list left by {n} elements is:', new_list)

Rotated list left by 4 elements is: [4, 6, 34, 6, 2, 3, 6, 5, 7, 46]

### 33. Create a list of prime numbers up to 50.

In [11]:
for num in range (2,51):
    prime=True
    for i in range (2, num):
        if (num%i)==0:
            prime=False
            break
            
    if prime:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

### 34. Split a list into chunks of size `n`.

In [18]:
def chunks(k, n):
    chunked_list = []
    for i in range(0, len(k), n):
        chunked_list.append(k[i:i+n])
    return chunked_list

k = [2, 3, 6, 5, 7, 46, 4, 6, 34, 6, 3, 2, 4, 5, 54, 64, 34, 1]
n = 4

new_list = chunks(k, n)
print(f'List split into chunks of {n} elements:', new_list)

List split into chunks of 4 elements: [[2, 3, 6, 5], [7, 46, 4, 6], [34, 6, 3, 2], [4, 5, 54, 64], [34, 1]]

### 35. Find the second largest number in a list.

In [30]:
k = [2, 3, 6, 5, 7, 46, 4, 6, 34, 6, 3, 2, 4, 5, 54, 64, 34, 1]

k.sort(reverse=True)
    
print('Sorted in descending order:', k)
print('Second largest number in the list is:', (k[1]))

Sorted in descending order: [64, 54, 46, 34, 34, 7, 6, 6, 6, 5, 5, 4, 4, 3, 3, 2, 2, 1]
Second largest number in the list is: 54

### 36. Replace every element in a list with its square.

In [52]:
a=[2,3,4,5,6,7,34]

for i in range (len(a)):
    a[i]=a[i]*a[i]
print('squared elements of list is:', a)

squared elements of list is: [4, 9, 16, 25, 36, 49, 1156]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [57]:
a=['Ramesh', 'suresh', 'jitesh', 'mukesh', 'panbeeda', 'cancer', 'ganguly']

l= {element: index for index, element in enumerate(a)}
print(l)

{'Ramesh': 0, 'suresh': 1, 'jitesh': 2, 'mukesh': 3, 'panbeeda': 4, 'cancer': 5, 'ganguly': 6}

### 38. Shuffle the elements of a list randomly

In [77]:
a=['Ramesh', 'suresh', 'jitesh', 'mukesh', 'panbeeda', 'cancer', 'ganguly']
b=a[0:2:1]
c=a[2:3:1]
d=a[-3:-5:-1]
e=a[-1:-3:-1]+c+b+d
print('Randomly shifted elements of list are:', e)

Randomly shifted elements of list are: ['ganguly', 'cancer', 'jitesh', 'Ramesh', 'suresh', 'panbeeda', 'mukesh']

### 39. Create a list of the first 10 factorial numbers.

In [89]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
    
factorials=[fact(i) for i in range(11)]

print('The first ten factorials are:' , factorials)

The first ten factorials are: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40. Check if two lists have at least one element in common.

In [4]:
def have_common_elements(k,l):
    
    for item in k:
        if item in l:
            return True
    else:
        return False
    
k=[2,3,6,5,7,46,4,6,34,6]
l=[3,2,4,5,54,64,34,1]

if have_common_elements(k,l):
    print('There are common elements in the lists k and l')
else:
    print('There are no common elemebts in the lists k and l')

there are common elements in the lists k and l

### 41. Remove all elements from a list.

In [5]:
k=[2,3,6,5,7,46,4,6,34,6]
k.clear()
print(k)

[]

### 42. Replace negative numbers in a list with 0.

In [15]:
s=[2,-3,6,-5,7,46,-4,6,34,-6]

for i in range(len(s)):
    if s[i]<0:
        s[i]=0
print('The updated list is:', s)

The updated list is: [2, 0, 6, 0, 7, 46, 0, 6, 34, 0]

### 43. Convert a string into a list of words.

In [29]:
s='This assignment is really good'
t=s.split(' ')
print(t)

['This', 'assignment', 'is', 'really', 'good']

In [30]:
type(t)

list

### 44. Convert a list of words into a string.

In [34]:
line=['This', 'assignment', 'is', 'really', 'good']
string=' '.join(line)
print(string)

This assignment is really good

In [35]:
type(string)

str

### 45. Create a list of the first `n` powers of 2.

In [50]:
def power(n):
    return n**2
    
n=int(input('enter a integer value:'))

p= power(n)
print(p)

enter a integer value: 9

81

### 46. Find the longest string in a list of strings.

In [63]:
def Longest_string(string):
    
    longer=string[0]
    
    for i in string:
        if len(i)>len(longer):
            longer=i
    return longer  


s=['This', 'assignment', 'is', 'really', 'good']

t=Longest_string(s)
print('The longest string in the list s is:', t)

The longest string in the list s is: assignment

### 47. Find the shortest string in a list of strings.

In [67]:
def shortest_string(l):
    
    shortest=l[0]
    
    for i in l:
        if len(i)<len(shortest):
            shortest=i
    return shortest


s=['This', 'assignment', 'is', 'really', 'good']

m=shortest_string(s)
print('The shortest string ::::::', m)

The shortest string :::::: is

### 48. Create a list of the first `n` triangular numbers

In [77]:
def Traingular(n):
    triangles=[]
    
    for i in range(1,n+1):
        triangles.append ((i*(i+1))//2)
    return triangles

m=int(input('enter a integer value for n: '))
n=Traingular(m)

print(f'The first {m} traingular numbers are:', n)

enter a integer value for n:  6

The first 6 traingular numbers are: [1, 3, 6, 10, 15, 21]

### 49. Check if a list contains another list as a subsequence.

In [80]:
def is_subsequence(subsequence, sequence):
    subsequence_count=0
    sequence_count=0

    while subsequence_count < len(subsequence) and sequence_count < len(sequence):
        
        if subsequence[subsequence_count] == sequence[sequence_count]:
            subsequence_count += 1
        sequence_count += 1
        
    return subsequence_count == len(subsequence)


sequence = [1, 2, 3, 4, 5, 6, 7]
subsequence = [3, 4, 5]

if is_subsequence(subsequence, sequence):
    print('Subsequence found in the sequence')
else:
    print('Subsequence not found in the sequence')

Subsequence found in the sequence

### 50. Swap two elements in a list by their indices.

In [104]:
k=['This', 'assignment', 'is', 'going','really','very', 'good']
l=['Ramesh', 'suresh', 'jitesh', 'mukesh', 'panbeeda', 'cancer', 'ganguly']

temp=k[2],k[5],l[2],l[5]


k[2],k[5]=temp[2],temp[3]
l[2],l[5]=temp[0],temp[1]

print('swapped values of k are:', k)
print('swapped values of l are:',l)

swapped values of k are: ['This', 'assignment', 'jitesh', 'going', 'really', 'cancer', 'good']
swapped values of l are: ['Ramesh', 'suresh', 'is', 'mukesh', 'panbeeda', 'very', 'ganguly']

## Tuple based practice problems

### 1. Create a tuple with integers from 1 to 5.

In [172]:
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [173]:
t=(1,2,3,4,5)
t[2]

3

### 3. Find the length of a tuple without using the `len()` function.

In [174]:
def length(t):
    count=0
    for i in t:
        count+=1
    return count

t=(1,2,3,4,5,6)

length_of_tuple= length(t)
print('Length of tuple is:', length_of_tuple)

Length of tuple is: 6

### 4. Count the occurrences of an element in a tuple.

In [175]:
h=('Bangalore', 'Mangalore', 'Mysore', 'Dharawada', 'Mysore')

element='Mysore'
count=0
for i in h:
    if i==element:
        count+=1
print(f'The element {element} appears {count} times in tuple h')

The element Mysore appears 2 times in tuple h

### 5. Find the index of the first occurrence of an element in a tuple.

In [176]:
h=('Bangalore', 'Mangalore', 'Mysore', 'Dharawada', 'Mysore')

element='Mysore'

try:
    index=h.index(element)
    print(f'The index of element {element} in tuple h is:', index)
except ValueError:  
    print(f'The element {element} is not in tuple h')

The index of element Mysore in tuple h is: 2

### 6. Check if an element exists in a tuple.

In [177]:
h=('Bangalore', 'Mangalore', 'Mysore', 'Dharawada', 'Mysore')

element='Mysore'

for item in h:
    if item==element:
        print(f' element {element} is available in tuple h')
        break
else:
    print('f element {element} is not available in tuple h')

 element Mysore is available in tuple h

### 7. Convert a tuple to a list.

In [178]:
h=('Bangalore', 'Mangalore', 'Mysore', 'Dharawada', 'Mysore')
j=list(h)
print(type(j))

<class 'list'>

### 8. Convert a list to a tuple.

In [1]:
h=['Bangalore', 'Mangalore', 'Mysore', 'Dharawada', 'Mysore']
j=tuple(h)
print(type(j))

<class 'tuple'>

### 9. Unpack the elements of a tuple into variables.

In [2]:
h=('Bangalore', 'Mangalore', 'Mysore', 'Dharawada', 'Mysore')
var1, var2, var3, var4, var5 = h
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

Bangalore
Mangalore
Mysore
Dharawada
Mysore

### 10. Create a tuple of even numbers from 1 to 10.

In [3]:
t=()
for i in range(1,11):
    if i%2==0:
        t+=(i,)
print('The tuple of even numbers from 1 to 10 are:', t)

The tuple of even numbers from 1 to 10 are: (2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [4]:
t=()

for i in range (1,11):
    if i%2!=0:
        t+=(i,)
print('The tuple of off numbers from 1 to 10 are:', t)

The tuple of off numbers from 1 to 10 are: (1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [5]:
s=(1,2,3,4,5)
t=(2,4,6,8)
u=s+t
print(u)

(1, 2, 3, 4, 5, 2, 4, 6, 8)

### 13. Repeat a tuple three times.

In [6]:
s=(1,2,3,4,5)
t=s*3
print(t)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### 14. Check if a tuple is empty.

In [7]:
s=(1,2,3,4,5)

if not s:
    print('The tuple is empty')
else:
    print('The tuple s in not empty')

The tuple s in not empty

### 15. Create a nested tuple.

In [8]:
s=(1,2,3,4,5,(2,3,4,5,6))
t=(2,4,6,8)

Nested_t=s+t

print('Nested tuple is:', Nested_t)

Nested tuple is: (1, 2, 3, 4, 5, (2, 3, 4, 5, 6), 2, 4, 6, 8)

### 16. Access the first element of a nested tuple.

In [9]:
print('First element of the nested tuple is:', Nested_t[0])

First element of the nested tuple is: 1

### 17. Create a tuple with a single element.

In [10]:
t=('Python',)
print(type(t))

<class 'tuple'>

### 18. Compare two tuples.

In [11]:
s=(1,2,3,4,5)
t=(2,4,6,8)

if s==t:
    print('Tuples s and t are equal')
else:
    print('Tuples s and t are not equal')
    
    
u=()
for item in s:
    if item in t:
        u+=(item,)
print('After comparing both the tuples, the common elements are:', u)

Tuples s and t are not equal
After comparing both the tuples, the common elements are: (2, 4)

### 19. Delete a tuple.

In [12]:
s=(1,2,3,4,5)
s=()
print(s)

()

### 20. Slice a tuple.

In [13]:
s=(2,3,4,5,6,4,67,8,5)
t=s[1:4:1]

print('elements of sliced tuple from tuple s are:', t)

elements of sliced tuple from tuple s are: (3, 4, 5)

### 21. Find the maximum value in a tuple.

In [14]:
t=(23,4,1,34,31,56,81,8,5,778,8,36,5)

max_value=max(t)

    
print('Maximum vaulue in the tuple is:', max_value)

Maximum vaulue in the tuple is: 778

### 22. Find the minimum value in a tuple.

In [15]:
t=(23,4,1,34,31,56,81,8,5,778,8,36,5)

min_value=min(t)
print('minimum value in the tuple is:', min_value)

minimum value in the tuple is: 1

### 23. Convert a string to a tuple of characters.

In [23]:
string='Vedanth'
f=set(string)
g=tuple(f)
print('Elements of Tuple converted from string is:', g)

Elements of Tuple converted from string is: ('d', 'n', 't', 'h', 'e', 'V', 'a')

### 24. Convert a tuple of characters to a string.

In [30]:
t=('v','e','d','a','n','t','h')
u=''.join(t)
print('string converted from tuple is:', u)

string converted from tuple is: vedanth

### 25. Create a tuple from multiple data types.

In [35]:
s='vedanth'
l=[2,4,23,'Ranganath']
d=(1,4,3,(s), (3+4J), 3.43434, True, l)
print('Tuple with a set, int, float, complex, and a list is:', d)

Tuple with a set, int, float, complex, and a list is: (1, 4, 3, 'vedanth', (3+4j), 3.43434, True, [2, 4, 23, 'Ranganath'])

### 26. Check if two tuples are identical.

In [38]:
s=(1,2,3)
t=(1,2,3)
if s==t:
    print('tuples s and t are identical')
else:
    print('tuples s and t are not identical')

u=(2,'ved',3)
v=(3,2,'ved')

if u==v:
    print('tuples u and v are identical')
else:
    print('tuples u and v are not identical')

tuples s and t are identical
tuples u and v are not identical

### 27. Sort the elements of a tuple.

In [48]:
s=(1,4,1,8,5,23,42,15,52,12,78,89,93,9)
t=tuple(sorted(s))
print('Elements of sorted tuple are:', t)

Elements of sorted tuple are: (1, 1, 4, 5, 8, 9, 12, 15, 23, 42, 52, 78, 89, 93)

### 28. Convert a tuple of integers to a tuple of strings

In [57]:
t=('2','3','5','6','1','8','4')
u=tuple(str(i) for i in t)
print('string converted from tuple is:', u)
print('Type:', type(u))

string converted from tuple is: ('2', '3', '5', '6', '1', '8', '4')
Type: <class 'tuple'>

### 29. Convert a tuple of strings to a tuple of integers.

In [61]:
t=('2','3','5','6','1','8','4')
u=tuple(int(i) for i in t)
print('string converted from tuple is:', u)
print('Type:', type(u))

string converted from tuple is: (2, 3, 5, 6, 1, 8, 4)
Type: <class 'tuple'>

### 30. Merge two tuples.

In [64]:
s=(1,2,4,9,5,7,3,6)
t=(12,24,26,18)

u=tuple(sorted(s)) + tuple(sorted(t))

print('Merged tuple is:', u)

Merged tuple is: (1, 2, 3, 4, 5, 6, 7, 9, 12, 18, 24, 26)

### 31. Flatten a nested tuple.

In [69]:
def flatten_t(s):
    
    flat_t=[]
    
    for i in s:
        if isinstance(i, tuple):
            flat_t.extend(flatten_t(i))
        else:
            flat_t.append(i)
    return(flat_t)

s=(23,4,1,34,31,56,(81,8,5,778),8,36,5)

u=flatten_t(s)
print('Elements of flatten tuple t are:', u)

Elements of flatten tuple t are: [23, 4, 1, 34, 31, 56, 81, 8, 5, 778, 8, 36, 5]

### 32. Create a tuple of the first 5 prime numbers.

In [94]:
for num in range (2,12):
    prime=True
    for i in range (2, num):
        if (num%i)==0:
            prime=False
            break
            
    if prime:
        print(num, end=' ')

2 3 5 7 11

### 33. Check if a tuple is a palindrome.

In [96]:
j=(2,3,4,5,6)
h=(2,3,4,5,6)

i=(2,5,2,3,2,1)
k=(4,3,5,2,6,2)


if set(j)==set(h):
    print('Tuples j and h are palindrome')
else:
    print('Tuples j and h are not palindrome')
    
    
if set(i)==set(k):
    print('Tuples i and k are palindrome')
else:
    print('Tuples i and k are not palindrome')

Tuples j and h are palindrome
Tuples i and k are not palindrome

### 34. Create a tuple of squares of numbers from 1 to 5.

In [103]:
s=()
for i in range (1,6):
    squared_value=i*i
    s+=(squared_value,)
print('Tuple with squared values of numbers 1 to 5 are:', s)

Tuple with squared values of numbers 1 to 5 are: (1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [106]:
r=(2,3,4,6,2,7,3,7,8,12,24,62,31)
s=()

for i in r:
    if i%2==0:
        s+=(i,)
print('Even numbers in the tuple are:', s)

Even numbers in the tuple are: (2, 4, 6, 2, 8, 12, 24, 62)

### 36. Multiply all elements in a tuple by 2.

In [124]:
r=(2,3,4,6,2,7,3,7,8,12,24,62,31)
r=(tuple(i*2 for i in r))

print('Elements of tuple r after multiplying by 2 are:',r)

Elements of tuple r after multiplying by 2 are: (4, 6, 8, 12, 4, 14, 6, 14, 16, 24, 48, 124, 62)

### 37. Create a tuple of random numbers.

In [5]:
s=(2,34,34,12,4,3.343434,24,1,13)
print('Tuple of random numbers:', s)
type(s)

Tuple of random numbers: (2, 34, 34, 12, 4, 3.343434, 24, 1, 13)

tuple

### 38. Check if a tuple is sorted.

In [10]:
s=(2,34,34,12,4,3.343434,24,1,13)

if tuple(sorted(s))==s:
         print('Tuple is sorted')
else:
    print(f'Tuple s is not sorted')

Tuple s is not sorted

### 39. Rotate a tuple to the left by 'n' positions

In [2]:
def rotated(s,n):
    count=n
 
    t=s[n:]+s[:n]      
    return(t)
    
            
s=(2,3,6,5,7,46,4,6,34,6)
n=4

rotated_s=rotated(s,n)
print(f'Rotated tuple left by {n} elements is:', rotated_s)

Rotated tuple left by 4 elements is: (7, 46, 4, 6, 34, 6, 2, 3, 6, 5)

### 40. Rotate a tuple to the right by `n` positions.

In [4]:
def rotated(s,n):
    count=n
    
    t=s[-n:]+s[:-n]
    return(t)

s=(2,3,6,5,7,46,4,6,34,6)
n=4
rotated_s=rotated(s,n)
print(f'Rotated tuple right by {n} elements is:', rotated_s)

Rotated tuple right by 4 elements is: (4, 6, 34, 6, 2, 3, 6, 5, 7, 46)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [9]:
count=5
Fibonacci_numbers=[0,1]
   
while len(Fibonacci_numbers) < count:
    
    next_number = Fibonacci_numbers[-1] + Fibonacci_numbers[-2]
    Fibonacci_numbers.append(next_number)
    
print ('The first 5 fibonacci numbers are:', tuple(Fibonacci_numbers))

The first 5 fibonacci numbers are: (0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [9]:
s=input('enter the elements for a tuple')
t=s.split()
u=tuple(t)
print('Tuple with given input is:', u)
type(u)

enter the elements for a tuple 2, 3, 7+3j,'Vedanth', 4, True, 3.089812

Tuple with given input is: ('2,', '3,', "7+3j,'Vedanth',", '4,', 'True,', '3.089812')

tuple

### 43. Swap two elements in a tuple.

In [12]:
k=('Bangalore', 'Mysore', 'Managalore', 'Karawar', 'Kodagu')

m=list(k)
n=m[2], m[4]
m[2], m[4]=n[1],n[0]

print(tuple(m))

('Bangalore', 'Mysore', 'Kodagu', 'Karawar', 'Managalore')

In [18]:
### Wanted to try this in addition to the above question
j=(2,4,6,9,1)
k=('Bangalore', 'Mysore', 'Managalore', 'Karawar', 'Kodagu')

l=list(j)
m=list(k)

n=l[1], l[3], m[2], m[4]

l[1],l[3]=n[2],n[3]
m[2], m[4]=n[0],n[1]

print(tuple(l))

print(tuple(m))

(2, 'Managalore', 6, 'Kodagu', 1)
('Bangalore', 'Mysore', 4, 'Karawar', 9)

### 44. Reverse the elements of a tuple.

In [52]:
k=('Bangalore', 'Mysore', 'Managalore', 'Karawar', 'Kodagu')
m=list(k)
n=m[-1:-6:-1]
k=tuple(n)
print('Reverse Tuple is:', k)
type(k)

Reverse Tuple is: ('Kodagu', 'Karawar', 'Managalore', 'Mysore', 'Bangalore')

tuple

### 45. Create a tuple of the first `n` powers of 2.

In [72]:
def power_n(n):
    count=n

    powered=[2**i for i in range (n)]
    return tuple(powered)
  

n=4
s= power_n(n)
print(f'Tuple of First {n} powers of 2 is:', s)
type(s)

Tuple of First 4 powers of 2 is: (1, 2, 4, 8)

tuple

### 46. Find the longest string in a tuple of strings.

In [84]:
k=('Banagalore', 'Contemperanious', 'Consistent', 'Accurate', 'Legible')
Longest_word=k[0]

for i in k:
    if len(i)>len(Longest_word):
        Longest_word=i
        
        print('Longest word in the tuple is:', Longest_word)

Longest word in the tuple is: Contemperanious

### 47. Find the shortest string in a tuple of strings.

In [88]:
k=('Banagalore', 'Contemperanious', 'Consistent', 'Accurate', 'Legible')
Longest_word=k[0]

for i in k:
    if len(i)<len(Longest_word):
        Longest_word=i
        
print('Shortest word in the tuple is:', Longest_word)

Shortest word in the tuple is: Legible

### 48. Create a tuple of the first `n` triangular numbers.

In [91]:
def Traingular(n):
    triangles=[]
    
    for i in range(1,n+1):
        triangles.append ((i*(i+1))//2)
    return tuple(triangles)
    
m=int(input('enter a integer value for n: '))
n=Traingular(m)

print(f'The first {m} traingular numbers are:', n)
type(n)

enter a integer value for n:  5

The first 5 traingular numbers are: (1, 3, 6, 10, 15)

tuple

### 49. Check if a tuple contains another tuple as a subsequence.

In [93]:
def is_subsequence(subsequence, sequence):
    subsequence_count=0
    sequence_count=0

    while subsequence_count < len(subsequence) and sequence_count < len(sequence):
        
        if subsequence[subsequence_count] == sequence[sequence_count]:
            subsequence_count += 1
        sequence_count += 1
        
    return subsequence_count == len(subsequence)


sequence = (1, 2, 3, 4, 5, 6, 7)
subsequence = (3, 4, 5)

if is_subsequence(subsequence, sequence):
    print('Subsequence found in the sequence')
else:
    print('Subsequence not found in the sequence')

Subsequence found in the sequence

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [65]:
n=int(input('Enter a integer number:'))
alternate_tuple=tuple(1 if i%2==0 else 0 for i in range(n))
print('Alternateing 1s and 0s of length n is:', alternate_tuple)

Enter a integer number: 5

Alternateing 1s and 0s of length n is: (1, 0, 1, 0, 1)

## Set Based Practice Problem

### 1. Create a set with integers from 1 to 5.

In [1]:
s={1,2,3,4,5}
print(s)
type(s)

{1, 2, 3, 4, 5}

set

### 2. Add an element to a set.

In [8]:
s={1,2,3,4,5}
t=list(s)
t.append(6)
s=set(t)
print('Set with a new element is:', s)

Set with a new element is: {1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set.

In [12]:
s={1,2,3,4,5}
s.discard(4)
print('Set with specific element 4 removed is:', s)

Set with specific element 4 removed is: {1, 2, 3, 5}

### 4. Check if an element exists in a set.

In [17]:
s={1,2,3,4,5}
if 2 in s:
    print('Element 2 is present in set s')
else:
    print('Element 2 is not present in set s')

Element 2 is present in set s

### 5. Find the length of a set without using the `len()` function.

In [24]:
s={1,2,3,4,5}
count=0
for item in s:
    count+=1
print(f'Set s {count} elements in it.')

Set s 5 elements in it.

### 6. Clear all elements from a set.

In [2]:
s={1,2,3,4,5}
s.clear()
print('Set s after clearing all elements is:', s)

Set s after clearing all elements is: set()

### 7. Create a set of even numbers from 1 to 10.

In [21]:
s=set()
for i in range (1,11):
    if i%2==0:
        s.add(i)
print('Set with even numbers from 1 to 10 are:',s)

Set with even numbers from 1 to 10 are: {2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [23]:
s=set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
print('Set with odd numbers from 1 to 10 are:',s)

Set with odd numbers from 1 to 10 are: {1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [28]:
s={1,2,3,4,5}
t={2,3,5}
u=s|t
print('Union of sets s&t is:', u)

Union of sets s&t is: {1, 2, 3, 4, 5}

### 10. Find the intersection of two sets.

In [29]:
s={1,2,3,4,5}
t={2,3,5}
u=s&t
print('Intersection of sets s&t is:', u)

Intersection of sets s&t is: {2, 3, 5}

### 11. Find the difference between two sets.

In [32]:
s={1,2,3,4,5}
t={2,3,5}
u=s-t
print('Intersection of sets s&t is:', u)

Intersection of sets s&t is: {1, 4}

### 12. Check if a set is a subset of another set.

In [42]:
s={1,2,3,4,5}
t={2,3,5}
if t.issubset(s):
    print('set t is a subset of s')
else:
    print('set t is not a subset of s')
    
    
u={1,2,3,4,5}
v={6,7,8}
if v.issubset(u):
    print('set v is a subset of u')
else:
    print('set v is not a subset of u')

set t is a subset of s
set v is not a subset of u

### 13. Check if a set is a superset of another set.

In [48]:
s={1,2,3,4,5}
t={2,3,5}
if s.issuperset(t):
    print('set s is a superset of t')
else:
    print('set s is not a superset of t')
    
    
u={1,2,3,4,5}
v={6,7,8}
if u.issuperset(v):
    print('set u is a superset of v')
else:
    print('set u is not a superset of v')

set s is a superset of t
set u is not a superset of v

### 14. Create a set from a list.

In [49]:
l=[2,4,'vedanth', True,9]
s=set(l)
print(s)
type(s)

{True, 2, 4, 'vedanth', 9}

set

### 15. Convert a set to a list.

In [50]:
s={2,4,'vedanth', True,9}
t=list(s)
print(t)
type(t)

[True, 2, 4, 'vedanth', 9]

list

### 16. Remove a random element from a set.

In [54]:
s={2,4,'vedanth', True,9}
s.remove(True)
print('Set after removing a specific element is:', s)

Set after removing a specific element is: {2, 4, 'vedanth', 9}

### 17. Pop an element from a set.

In [66]:
s={2,4,'vedanth', True,9}
t=s.pop()
print('Set after removing a specific element is:', s)
print('Removed element is:', t)

Set after removing a specific element is: {2, 4, 'vedanth', 9}
Removed element is: True

### 18. Check if two sets have no elements in common.

In [83]:
u={1,2,3,4,5}
v={6,7,8}

t=u&v
if t:
    print('The common elements in the sets u & v are:', t)
else:
    print('The sets u & v do not have any elements in common')

The sets u & v do not have any elements in common

### 19. Find the symmetric difference between two sets.

In [91]:
u={1,2,3,4,5}
v={2,3,7,8}

t=u^v
if t:
    print('The symmetric difference between 2 sets are:', t)
else:
    print('The sets u & v do not have symmetroic difference')

The symmetric difference between 2 sets are: {1, 4, 5, 7, 8}

### 20. Update a set with elements from another set.

In [97]:
u={1,2,3,4,5}
v={2,3,7,8}
t=u|v
print('The updated set is:', t)

The updated set is: {1, 2, 3, 4, 5, 7, 8}

### 21. Create a set of the first 5 prime numbers.

In [110]:
t=set()

for num in range (2,12):
    prime=True
    for i in range (2, num):
        if (num%i)==0:
            prime=False
            break
            
        if prime:
            t.add(num)
print('First 5 prime numbers in a set is:', t)

First 5 prime numbers in a set is: {3, 5, 7, 9, 11}

### 22. Check if two sets are identical.

In [113]:
u={1,2,3,4,5}
v={2,3,7,8}

if u==v:
    print('sets u & v are identical')
else:
        print('sets u & v are not identical')

sets u & v are not identical

### 23. Create a frozen set.

In [126]:
z={1,2,3,4,5}
y=frozenset(u)
print('Frozen set is:', y)
y.remove(3)
print(y)

Frozen set is: frozenset({1, 2, 3, 4, 5})

AttributeError: 'frozenset' object has no attribute 'remove'

In [124]:
type(y)

frozenset

### 24. Check if a set is disjoint with another set.

In [135]:
u={1,2,3,4,5}
v={2,3,7,8}

if u.isdisjoint(v):
    print('The sets are disjoint')
else:
    print('The sets are not disjoint')

The sets are not disjoint

### 25. Create a set of squares of numbers from 1 to 5.

In [149]:
s=set()
for i in range (1,6):
    Squared=i**2
    s.add(Squared)
print('Set of squared from 1 to 5 are:', s)

Set of squared from 1 to 5 are: {1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [156]:
u={1,2,3,4,5,8,9,4,5,3,}

s=set()
for i in u:
    if i%2==0:
        s.add(i)
print('Even numbers in set u are:', s)

Even numbers in set u are: {8, 2, 4}

### 27. Multiply all elements in a set by 2.

In [163]:
u={1,2,3,4,5,8,9,4,5,3,}

s=set()
for i in u:
    j=i*2
    s.add(j)
print('Set with all elements multiplied by 2 is:', s)

Set with all elements multiplied by 2 is: {2, 4, 6, 8, 10, 16, 18}

### 28. Create a set of random numbers.

In [166]:
s={2,3,5,23,5,25,114,5154,1445,34}
print('Set with random numbers is:', s)
type(s)

Set with random numbers is: {2, 3, 5154, 5, 1445, 34, 114, 23, 25}

set

### 29. Check if a set is empty.

In [170]:
s={2,3,5,23,5,25,114,5154,1445,34}
if s=={}:
    print('Set is empty')
else:
    print('Set is not empty, it have elements:', s)

Set is not empty, it have elements: {2, 3, 5154, 5, 1445, 34, 114, 23, 25}

### 30. Create a nested set (hint: use frozenset).

In [172]:
s={1,7,'Vedanth', y}
print('Nested set is:', s)

Nested set is: {frozenset({1, 2, 3, 4, 5}), 1, 'Vedanth', 7}

### 31. Remove an element from a set using the discard method.

In [176]:
s={1,7,'Vedanth', y}
s.discard(y)
print('Set after removing an frozen set as element is:', s)

Set after removing an frozen set as element is: {1, 'Vedanth', 7}

### 32. Compare two sets.

In [177]:
s={1,2,3,4,5}
t={2,4,6,8}

if s==t:
    print('Sets s and t are equal')
else:
    print('Sets s and t are not equal')
    
    
u=()
for item in s:
    if item in t:
        u+=(item,)
print('After comparing both the sets, the common elements are:', u)

Sets s and t are not equal
After comparing both the sets, the common elements are: (2, 4)

### 33. Create a set from a string.

In [179]:
h='Vedanth'
i=set(h)
print('Set created from String is:', i)

Set created from String is: {'a', 'h', 'n', 'e', 't', 'V', 'd'}

### 34. Convert a set of strings to a set of integers.

In [194]:
h={'2316', '94531'}
i=set(int(char) for char in h)
print('Set of integers created from String is:', i)

Set of integers created from String is: {94531, 2316}

### 35. Convert a set of integers to a set of strings.

In [193]:
h={1, 2, 3, 4, 5, 6, 9}
i=set(str(char) for char in h)
print('Set of strings created from integers is:', i)

Set of strings created from integers is: {'4', '2', '6', '1', '9', '5', '3'}

### 36. Create a set from a tuple.

In [199]:
t=(1,4,1,8,5,23,42,15,52,12,78,89,93,9)
u=set(t)
print('Set converted from a tuple is:', u)
type (u)

Set converted from a tuple is: {1, 4, 5, 8, 9, 42, 12, 78, 15, 52, 23, 89, 93}

set

### 37. Convert a set to a tuple.

In [201]:
t={1,4,1,8,5,23,42,15,52,12,78,89,93,9}
u=tuple(t)
print('Tuple converted from a set is:', u)
type (u)

Tuple converted from a set is: (1, 4, 5, 8, 9, 42, 12, 78, 15, 52, 23, 89, 93)

tuple

### 38. Find the maximum value in a set.

In [203]:
t={1,4,1,8,5,23,42,15,52,12,78,89,93,9}
u=max(t)
print('Maximum value in the given set is:', u)

Maximum value in the given set is: 93

### 39. Find the minimum value in a set.

In [205]:
t={1,4,1,8,5,23,42,15,52,12,78,89,93,9}
u=min(t)
print('Minimum value in the given set is:', u)

Minimum value in the given set is: 1

### 40. Create a set from user input.

In [210]:
s=input('enter the value: ')
t=s.split()
u=set(t)
print('Set created by the input from user is:', u)

enter the value:  vedanth ranganath Toshith

Set created by the input from user is: {'Toshith', 'ranganath', 'vedanth'}

### 41. Check if the intersection of two sets is empty.

In [211]:
s={1,2,3,4,5}
t={2,3,5}
u=s&t
if u=={}:
    print('Intersection of sets s & t is a empty set')
else:
    print('Intersection of sets s & t is not a empty set')

Intersection of sets s & t is not a empty set

### 42. Create a set of the first 5 Fibonacci numbers.

In [13]:
s=[0,1]
count=6

while len(s)<count:
    next_number=s[-1]+s[-2]
    s.append(next_number)
print(f' Set of first 5 fibonacci numbers is:', set(s))

 Set of first 5 fibonacci numbers is: {0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [19]:
l=[2,4,23,2,14,6,9,3,8,5,2,6,14]
l1=l[:5]
l2=l[5:]

s=set(l1)
t=set(l2)

u=s|t

print('Set after removing duplicates from list l:', u)

Set after removing duplicates from list l: {2, 3, 4, 5, 6, 8, 9, 14, 23}

### 44. Check if two sets have the same elements, regardless of their count.

In [22]:
s1={2,4,3,1,7,9,0}
s2={3,2,5,6,1,5,8}

if s1!=s2:
    print('There are common elements in the given sets')
else:
    print('There are no common elements in the given sets')
s=s1&s2
print('The common elements in sets s1 & s2 are:', s)

There are common elements in the given sets
The common elements in sets s1 & s2 are: {1, 2, 3}

### 45. Create a set of the first `n` powers of 2.

In [37]:
def n_powered(n):
    count=n
    s=set()

    for i in range (count):
        s.add(i**2)
    return s
    
n=6
k=n_powered(n)
print(f'Set of first {n} powers of 2 is:', k)

Set of first 6 powers of 2 is: {0, 1, 4, 9, 16, 25}

### 46. Find the common elements between a set and a list.

In [40]:
h={46,32,4,5,1,4,7,8}
l=[2,4,23,2,14,6,9,3,8,5,2,6,14]

m=set(l)
n=h&m

print('Common elements from the set h and list l are:', n)

Common elements from the set h and list l are: {8, 4, 5}

### 47. Create a set of the first `n` triangular numbers.

In [41]:
def Traingular(n):
    triangles=[]
    
    for i in range(1,n+1):
        triangles.append ((i*(i+1))//2)
    return triangles

m=int(input('enter a integer value for n: '))
n=set(Traingular(m))

print(f'The first {m} traingular numbers are:', n)

enter a integer value for n:  4

The first 4 traingular numbers are: {1, 10, 3, 6}

### 48. Check if a set contains another set as a subset.

In [49]:
def is_subse(subsequence, sequence):
    l=list(subsequence)
    m=list(sequence)
    
    (subsequence_count)=0
    (sequence_count)=0

    while subsequence_count < len(l) and sequence_count < len(m):
        
        if l[subsequence_count] == m[sequence_count]:
            subsequence_count += 1
        sequence_count += 1
        
    return subsequence_count == len(l)


sequence = {1, 2, 3, 4, 5, 6, 7}
subsequence = {3, 4, 5}

if is_subse(subsequence, sequence):
    print('Subsequence found in the sequence')
else:
    print('Subsequence not found in the sequence')

Subsequence found in the sequence

### 49. Create a set of alternating 1s and 0s of length `n`.

In [109]:
u=int(input('enter one integer value: '))
s=list(1 if i%2==0 else 0 for i in range(u))
t=set(s)
print('List with n number of alternate 1s and 0s is:', s)
print('Set with n number of alternate 1s and 0s is :', t) #Set removes duplicate values so we can only see one 0 and one 1 in set

enter one integer value:  6

List with n number of alternate 1s and 0s is: [1, 0, 1, 0, 1, 0]
Set with n number of alternate 1s and 0s is : {0, 1}

### 50. Merge multiple sets into one.

In [108]:
h={'2316', '94531'}
i={'String', 'Tuple', 'Dictionary', 'set', 'list'}
j={2,4,5,2,6,6}

k=h|i|j
print('Merged set is:', k)

Merged set is: {'Dictionary', 2, 4, 5, 'list', 6, 'String', 'Tuple', '2316', 'set', '94531'}